* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 200vh;
    background: #26d9f5;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, rgb(57, 192, 245), rgb(250, 16, 250));

}

.name {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 50px auto;
}

.addTask {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    font-size: 5px;

}

.addTask>input[type="text"] {
    width: 80%;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    border-style: groove;
    border-bottom: 3px solid rgb(244, 246, 247);
    background: none;
    padding: 15px;
    font-size: 30px;
    outline: none;

}

.addTask button {
    margin: 0 10px;
    background: rgb(188, 233, 28);
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.notCompleted,
.Completed {
    margin: 5px 0;
    padding: 20px;

}

h3 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(239, 245, 245);
    font-size: 30px;
    background-color: rgba(78, 26, 121, 0.514);
}

ol {
    list-style: none;
    counter-reset: my-counter;

}

ol li {
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background-color: rgb(206, 178, 168);
    font-size: 28px;
    text-transform: uppercase;
    counter-increment: my-counter;

}

ol.Completed li {
    background: #30db0d;
}

ol li::before {
    content: counter(my-counter);
    background: rgb(115, 31, 226);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: rgb(241, 237, 244);
    margin-right: 0.5rem;
}

li button {
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}